<div class="jumbotron">
	<form name="contatoForm">
		<input type="text" class='form-control' placeholder="Nome" ng-model="contato.nome" name="nome" ng-required="true" ng-minlength="5"/>
		<input type="text" class='form-control' placeholder="Telefone" ng-model="contato.telefone" name="telefone" ng-required="true" ng-pattern="/^\(\d{2}\)\d{4,5}-\d{4}$/" ui-mask-phone/>
		<input type="text" class='form-control' placeholder="Cor" ng-model="contato.cor"/>
		<input type="text" class="form-control" placeholder="Data" name="data" ng-model="contato.data" ui-date/>
		<select class="form-control" ng-required="true" name="operadora" ng-model="contato.operadora" 
			ng-options="operadora.nome + ' (' + (operadora.preco | currency ) + ')'  group by operadora.categoria for operadora in operadoras  | orderBy: 'nome' | orderBy: 'categoria' " >
			<option value="">Selecione</option>
		</select>
		<!--<input type="text" class="form-control" placeholder="Hora" name="hora" ng-model="contato.hora" ui-mask-hour/>
		<input type="text" class='form-control' placeholder="CPF" ng-model="contato.cpf" name="cpf" ui-mask-cpf ng-pattern="/^\d{3}.\d{3}.\d{3}-\d{2}$/"/>
		<input type="text" class='form-control' placeholder="CNPJ" ng-model="contato.cnpj" name="cnpj" ui-mask-cnpj ng-pattern="/^\d{2}.\d{3}.\d{3}\/\d{4}-\d{2}$/"/>
		<input type="text" class='form-control' placeholder="CEP" ng-model="contato.cep" name="cep" ng-pattern="/^\d{5}-\d{3}$/" ui-mask-cep/>-->
		<!--<input type="text" class='form-control' placeholder="R$" ng-model="contato.moeda" name="moeda" ui-mask-currency evento="keyup"/>-->
	</form>

	<div  ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
		<!-- Exibe a mensagem se o campo nome foi preenchido e se já foi preenchido alguma vez -->
		<div ng-message="required" class="alert alert-danger">
			Por favor, informe o nome.
		</div>

		<!-- Exibe a mensagem se o tamanho minimo do campo nome está correto -->
		<div ng-message="minlength"  class="alert alert-danger">
			O campo nome deve ter no mínino 5 caracteres.
		</div>
		
		<!-- Exibe a mensagem já existir um contato com o nome informado -->
		<div ng-message="uniqueName"  class="alert alert-danger">
			Já existe um contato com este nome!
		</div>
		
	</div>
	
	<div ng-show="contatoForm.telefone.$dirty">
		<div ng-messages="contatoForm.telefone.$error">
		<!-- Exibe a mensagem se o campo telefone foi preenchido e se já foi preenchido alguma vez-->
		<div ng-message="required"  class="alert alert-danger">
			Por favor, informe o telefone.
		</div>
		
		<!-- Exibe a mensagem se o formato do campo telefone foi preenchido corretamente -->
		<div ng-message="pattern"  class="alert alert-danger">
			O campo telefone tem que estar no formato (99)(9)9999-9999.
		</div>
	</div>
	</div>
	
	<div ng-show="contatoForm.data.$dirty" ng-messages="contatoForm.data.$error" >
		<!-- Exibe a mensagem se o dia data informada não foi preenchido corretamente -->
		<div ng-message="validDateDay"  class="alert alert-danger">
			Por favor, informe um dia válido.
		</div>
		<!-- Exibe a mensagem se o mês data informada não foi preenchido corretamente -->
		<div ng-message="validDateMonth"  class="alert alert-danger">
			Por favor, informe um mês válido.
		</div>
		<!-- Exibe a mensagem se o ano data informada não foi preenchido corretamente -->
		<div ng-message="validDateYear"  class="alert alert-danger">
			O ano informado não pode ser maior que o ano atual!
		</div>
	</div>
	
	<div ng-show="contatoForm.operadora.$dirty" ng-messages="contatoForm.operadora.$error" >
		<!-- Exibe a mensagem se o campo operadora foi preenchido e se já foi preenchido alguma vez -->
		<div ng-message="required"  class="alert alert-danger">
			Por favor, informe o a operadora.
		</div>
	</div>
	
	<div  ng-show="contatoForm.cpf.$dirty" ng-messages="contatoForm.cpf.$error">
		<!-- Exibe a mensagem se o campo cpf não está no formado válido -->
		<div ng-message="pattern" class="alert alert-danger">
			O campo CPF tem que estar no formato 999.999.999-99.
		</div>
	</div>
	
	<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar</button>
	<hr/>
	<a href="#/contatos">Voltar</a>
</div>