.jumbotron {
	width: 780px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
.table {
	margin-top: 20px;
}
.table tbody tr td {
	white-space:nowrap
}
.form-control {
	margin-bottom: 5px;
}
.selecionado{
	background-color: yellow !important;
}
.negrito{
	font-weight: bold;
}